.btn-cart {
    display: flex;
    align-items: center;
    margin: 5px 0;

    border-radius: 4px;
    border: 3px solid #efb810;
    background-color: transparent;
    transition: 0.5s;
    cursor: pointer;
    padding: 5px 10px;
}

.btn-cart:hover {
    border: 3px solid #d19238;
    background-color: #d19238;
}

.btn-cart img {
    margin: 3px 3px;
    width: 34px;
    height: 34px;
    color: red;
}


