.cart-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.title-table-container,
.checkout-container {
    display: grid;
    grid-template-columns: 1fr 3fr 6fr 1fr 1fr;
    padding: 15px 10px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    overflow: hidden;
    margin: 10px;
}

.title-table-container {
    grid-column: 1 / span 1;
}

.title-table-container .align-title-text {
    text-align: center;
}

.cart-empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    font-size: 18px;
    color: #757575;
    background-color: #f9f9f9;
    border: 1px dashed #ccc;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    transition: background-color 0.3s;
    height: 50vh;
    margin-top: 5%;
}

.cart-empty::before {
    content: "🛒";
    font-size: 50px;
    margin-bottom: 10px;
}

.cart-message {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}


    

/* Checkout */
.purchase-summary {
    padding: 15px 10px;
    border-radius: 8px;
    overflow: hidden;
    margin: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    grid-column: 2 / span 1;
    height: fit-content;
}

.purchase-summary .line-item {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.purchase-summary .line-item.total {
    font-weight: bold;
    border-bottom: none;
}

.btn-finalize {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
    width: 100%;
    margin: 15px 0;
}

.btn-back {
    background-color: #ccc;
    color: #031428;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
    width: 100%;
}

.btn-finalize:hover {
    background-color: #45a049;
}

@media screen and (max-width: 768px) {
    .cart-container {
        display: flex;
        flex-direction: column;
    }
}