.container-product-detail {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-img-details {
    max-width: 60%;
}

.item-count-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.btn-add-to-cart {
    padding: 10px 20px;
    background-color: #efb810;
    color: #031428;
    border: none;
    border-radius: 5px;
}

.btn-add-to-cart:hover {
    background-color: #d19238 !important;
}

.btn-add-to-cart:active {
    background-color: #916324 !important;
}

.item-price {
    font-size: 30px; 
    font-weight: 300;
    font-family: 'Proxima Nova', sans-serif; 
    color: #4CAF50;
    display: block; 
    margin: 10px 0; 
    text-align: center; 
    letter-spacing: 1px; 
}

.added-to-cart {
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    color: #4CAF50;
    background-color: #e0f7e0;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.added-to-cart:hover {
    background-color: #c8e6c9;
}

.added-to-cart::after {
    content: "✓";
    margin-left: 5px;
    font-weight: bold;
}

.without-stock {
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    color: #b12525;
    background-color: #f7e0e0;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.without-stock:hover {
    background-color: #e6c8c8;
}

.without-stock::after {
    content: "❌";
    margin-left: 5px;
    font-weight: bold;
}