.container-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 6%;
    padding: 50px 0;
}

.container-body h1 {
    font-size: xx-large;
    padding-bottom: 20px;
    text-align: center;
}

.container-body p {
    align-items: center;
    text-align: center;
}