.container-product-detail {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-img-details {
    max-width: 60%;
}

.item-count-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}