.container-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 6%;
    padding: 50px 0;
}

.container-body h1 {
    font-size: xx-large;
    padding-bottom: 20px;
    text-align: center;
}

.container-body p {
    align-items: center;
    text-align: center;
}

.container-cards {
    margin-top: 70px;
}

.added-to-cart {
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    color: #4CAF50;
    background-color: #e0f7e0;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.added-to-cart:hover {
    background-color: #c8e6c9;
}

.added-to-cart::after {
    content: "✓";
    margin-left: 5px;
    font-weight: bold;
}